@import url("https://fonts.googleapis.com/css2?family=Baskervville&family=Dongle&display=swap");

* {
  margin: 0px;
  padding: 0px;
  font-family: "Baskervville", serif;
}

/* bakersville */

.button {
  background-color: rgb(235, 245, 253);
  border: 1px solid black;
  padding: 5px;
  border-radius: 10%;
}
.button:hover {
  cursor: pointer;
  background-color: rgb(224, 249, 249);
}

.date {
  margin-top: 20px;
}
.event-header {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.input-text {
  padding: 10px;
  font-size: 1rem;
  background-color: transparent;
}
.display-text {
  font-size: 1rem;
  padding: 10px;
  white-space: pre-line;
}

.event-content {
  height: 250px;
}

.event-notes {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 20px auto;
  padding: 20px;
  padding-bottom: 10px;
  width: 900px;
  background-color: rgb(203, 224, 232);
  border-radius: 25px;
}

.notes:hover {
  cursor: pointer;
  text-decoration-line: underline;
}

.event-files {
  margin: 20px auto;
  background-color: rgb(203, 224, 232);
  width: 900px;
  padding: 20px;
  height: 250px;
  border-radius: 25px;
}

.file-list {
  display: flex;
  flex-direction: row;
  margin: 20px 0px;
  overflow-x: auto;
}

.file-image {
  width: 200px;
  margin-right: 20px;
  margin-bottom: 10px;
}
