.kwyXWH.kwyXWH {
  border: 2px solid blue !important;
}
.dzZetr.dzZetr,
.jixunx::after {
  background-color: blue !important;
}

.clickbox:hover {
  cursor: pointer;
}

.search {
  text-align: right;
}

.timeline {
  height: 90%;
  overflow-y: auto;
}
