* {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

/* bakersville */

.button {
  background-color: rgb(159, 201, 233);
  border: 1px solid black;
  padding: 5px;
}
.button:hover {
  cursor: pointer;
}

.event-header {
  margin: 20px;
}
.event-details {
  margin: 20px;
}
.date {
  margin: 20px;
}
